html, .background, #root {
  /* linear gradient wont work bc it renders in ea individual element as the gradient */
  background-color: #F4F0EC;
}

.App {
  text-align: center;
  margin: 4em;
}
/* .appHeader {
  margin-bottom: 1.5em;
  background-color: burlywood;

} */
.explanContainer {
  margin-bottom: 2em;
}
.explanHeader {
  margin-bottom: .5em;
}
.lyrics {
  margin-top: 50px;
}
.playlistTitle, .loader{
  margin: 3%;
  /* text-decoration: underline; */
}
.playlistList {
  margin: 1%,
}


.spotifyBtn {
  background-color: #1DB954;
  border-color: #1DB954;
  color: white;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  margin-right: 15px;
}






















/* shouldnt need below: */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
