html, .background, #root, .list-group-item {
  background-color: #F4F0EC !important;
  font-family: 'Montserrat', sans-serif;
}

.flexbox {
  flex: 1 1;

}

.App {
  text-align: center;
  margin: 4em;
}
.appHeader {
  font-family: 'Rampart One', cursive;
  font-size: 80px;
}
.explanContainer {
  margin-bottom: 2em;
}
.explanHeader {
  margin-bottom: .5em;
}
.lyrics {
  margin-top: 50px;
}
.playlistTitle, .loader{
  margin: 3%;
}
.playlistList {
  margin: 1%; 
}

.playlistList.container {
  width: 30%;
}
.list-group-item {
  margin-top: 2.5%;
}

.copyright {
  color: gray;
  margin-top: 3%;
}


.spotifyBtn {
  background-color: #1DB954;
  border-color: #1DB954;
  color: white;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  margin-right: 15px;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}






















/* shouldnt need below: */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
