html, .background, #root, .list-group-item {
  /* linear gradient wont work bc it renders in ea individual element as the gradient */
  background-color: #F4F0EC !important;
  font-family: 'Montserrat', sans-serif;
  /* mserrat could work for the copyright */
  /* font-family: 'Josefin Sans', sans-serif;   */
  /* font-family: 'Source Code Pro', monospace; this one isnt my fave */
  /* font-family: 'Indie Flower', cursive; kinda silly, maybe as a header? */
  
  /* font-family: 'Chakra Petch', sans-serif;  */
  /* i'm not sure how i feel about this */
 /* font-size: 20px; */
  /* font-weight: 500; */
}
/* .list-group .list-group-item .list-group-item-mine  {
  background-color: #F4F0EC;

} */
.flexbox {
  flex: 1 1;

}

.App {
  text-align: center;
  margin: 4em;
}
.appHeader {
  /* margin-bottom: 1.5em;
  background-color: burlywood; */
  font-family: 'Rampart One', cursive;/* music api header?? */
  font-size: 80px;
  /* color: blue  */
}
.explanContainer {
  margin-bottom: 2em;
}
.explanHeader {
  margin-bottom: .5em;
}
.lyrics {
  margin-top: 50px;
}
.playlistTitle, .loader{
  margin: 3%;
  /* text-decoration: underline; */
}
.playlistList {
  margin: 1%; 
  /* idk if i actually want */
}

.playlistList.container {
  width: 30%;
}
.list-group-item {
  margin-top: 2.5%;
}


.spotifyBtn {
  background-color: #1DB954;
  border-color: #1DB954;
  color: white;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  margin-right: 15px;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
  /* --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; */
  /* --bs-body-font-family: var(--bs-font-sans-serif); */
}






















/* shouldnt need below: */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
